#homeLand {
  height: 100%;
  min-height: 840px !important;
  overflow: hidden;
}

#homeLand #videoBG {
  height: 100%;
  width: 100%;
  position: absolute;
  min-height: 840px !important;
  bottom: 0px;
  top: 0px;
}

video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 1682px;
  height: auto;
}

.video {
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 1682px;
  height: auto;
}

#homeLand #videoBG .shade {
  background: #EC1A1A;
  background-image: -moz-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  background-image: -webkit-linear-gradient(144deg, #69C3C3 0%, rgba(223, 80, 28, 0.77) 0%, rgba(240, 221, 170, 1) 100%);
  background-image: -ms-linear-gradient(144deg, #1cbbb4 0%, #24afaa 0%, #0072bc 100%);
  opacity: 0.9;
  height: 100%;
}


#header {
  background: url(../media/images/header_bg.jpg) bottom center no-repeat;
  min-height: 860px;
  position: relative;
}

#header-content
{

  position: absolute;
  top: 225px;
  left: 1%;
  right: 1%;
  margin: 0 auto;
  text-align: center;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: blue;
}


.message-intro {
  display: table-row;
  line-height: 1.5em;
  font-size: 2em;
  white-space: nowrap;
  margin-bottom: 2em;
}

.message-intro span.message-line{
  display:table-cell;
  width:10%
}





.message-intro p{font-size:inherit;overflow:hidden; display:table-cell;vertical-align:middle;padding-bottom:30px;color:#fff;font-size:22px;font-weight:400; letter-spacing: 2px}

.message-intro span.message-line{padding:0 10px}
.message-intro span.message-line:first-child{padding:0 30px 30px 0}
.message-intro span.message-line:last-child{padding:0 0 30px 30px}
.message-intro span.message-line:after{display:inline-block;width:100%;content:".";font-size:0;color:transparent;height:1px;background:#f7ebdf;vertical-align:middle;position:relative;top:0}



